#Used by all Docker services
HOST=your_domain.dev

#Used by Traefik dashboard
LETS_ENCRYPT_EMAIL=your_valid_email.com

#Used by Traefik dashboard & Database
USER_NAME=user
USER_PASSWORD=password

#Used by database
DATABASE_SUBDOMAIN_NAME=database
MYSQL_ROOT_PASSWORD=rootpassword

#Secret key needed to produce JWT tokens (**only for the JS template**).
APP_SECRET=123

# In case of special needs, such as email, please add any necessary variables below.
# For each project, follow this pattern:
# The variable name should match those in the local .env file (by the student) and in the `docker-compose.prod.yml` for the specific project.
# `<PROJECT_NAME>_<SPECIFIC_NAME>=<SPECIFIC_VALUE>`
