#Used by all Docker services
HOST=your_domain.dev

#Used by Traefik dashboard
LETS_ENCRYPT_EMAIL=your_valid_email.com

#Used by Traefik dashboard & Database
USER_NAME=user
USER_PASSWORD=password

#Used by database
DATABASE_SUBDOMAIN_NAME=database
MYSQL_ROOT_PASSWORD=rootpassword

#Secret key needed to produce JWT tokens (**only for the JS template**).
APP_SECRET=123